__pycache__/*
logs/*
.DS_Store
venv/*
.idea/*
external-examples/*
fuzz/*
Experiments/*
error/*
*.eval
*.gramdict
*.out
Tmp/*
Crash/*
SLForge/
mdl/*
nodejs/
tinyc/
curl/
micro-benchmarks/
*.txt
*.xlsx
.vscode/*
.codex
Exception/
slog*
tlog*
runmicro*
runls6*
Seed_Programs/*
grammarinator/*
results/*
logs*/*
barebone_llm_logs/*
natgi_base/
natgi/
ablation4/
Seed_Programs_bk/*
antlr_grammars/
Seed_Programs/gi-benchmarks/*
crucio-gram
Overleaf
subjects